<launch>
  <!-- define all args -->
  <arg name="gui" default="false" />
  <arg name="vis" default="false" />
  <arg name="legs" default="false" />
  <arg name="shoulders" default="false" />
  <arg name="path_len" default="60" />
  <arg name="kinect" default="true" />

  <!-- set all parameters -->
  <param name="rate" value="30" />
  <param name="robot_description" textfile="$(find trep_puppet_demo)/urdf/manual_puppet.urdf" />
  <param name="legs" value="$(arg legs)" />
  <param name="shoulders" value="$(arg shoulders)" />
  <param name="path_len" value="$(arg path_len)" />

  <!-- launch puppet state nodes -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  
  <!-- launch puppet simulator -->
  <node name="puppet_simulator" pkg="trep_puppet_demo" type="puppet_simulator.py" 
	output="screen" respawn="true" />

  <!-- launch the skeleton control node -->
  <node name="skeleton_controls" pkg="trep_puppet_demo" type="skeleton_interface.py" 
	output="screen" respawn="true" />
 
  <!-- launch the marker path node -->
  <node name="marker_paths" pkg="trep_puppet_demo" type="marker_path.py" 
	output="screen" respawn="true" />

  <!-- launch the keyboard interface -->
  <node name="keyboard_interface" pkg="trep_puppet_demo" type="keyboard_interface" 
	output="screen" respawn="true" />

  <!-- launch the kinect, tracker, and stp to connect it with the world -->
  <group if="$(arg kinect)">
    <include file="$(find openni_launch)/launch/openni.launch" />
    <node pkg="skeletontracker_nu" type="skeletontracker" name="skeletontracker"
  	  output="screen" respawn="true" launch-prefix="xterm -fn 10x20 -e"/>
  </group>
  <node pkg="tf" type="static_transform_publisher" name="simulation_connector"
  	args="0 1.5 1.25 0.7071 0 0 0.7071 camera_depth_optical_frame world 100" />

  <!-- launch rviz -->
  <group if="$(arg vis)">
    <node pkg="rviz" type="rviz" respawn="false" name="rviz_control"
  	  args="-d $(find trep_puppet_demo)/launch/puppet_skeleton_control.vcg" />
    <!-- <node pkg="rviz" type="rviz" respawn="false" name="rviz_front" -->
    <!-- 	  args="-d $(find trep_puppet_demo)/launch/puppet_skeleton_control_front_view.vcg" /> -->
  </group>

  
</launch>
